In [106]:
import pandas as pd

In [107]:
dataset=[['milk','bread','wheat_bread'],['jam','bread','butter'],['milk','jam','bread','butter'],['jam','butter']]

In [108]:
dataset

[['milk', 'bread', 'wheat_bread'],
 ['jam', 'bread', 'butter'],
 ['milk', 'jam', 'bread', 'butter'],
 ['jam', 'butter']]

In Apriori all data should be Boolean value hence convert in boolean

In [109]:
from mlxtend.preprocessing import TransactionEncoder # calling library for converting in boolean value

In [110]:
te=TransactionEncoder()

In [111]:
te_aray=te.fit(dataset).transform(dataset)

In [112]:
te_aray

array([[ True, False, False,  True,  True],
       [ True,  True,  True, False, False],
       [ True,  True,  True,  True, False],
       [False,  True,  True, False, False]])

now convert aray into Dataframe

In [113]:
df=pd.DataFrame(te_aray,columns=te.columns_)

In [114]:
df

   bread  butter    jam   milk  wheat_bread
0   True   False  False   True         True
1   True    True   True  False        False
2   True    True   True   True        False
3  False    True   True  False        False

calling Apriori method and applying

In [115]:
from mlxtend.frequent_patterns import apriori

In [116]:
frequent_items=apriori(df,min_support=0.1,use_colnames=True)

In [117]:
frequent_items.head()

   support       itemsets
0     0.75        (bread)
1     0.75       (butter)
2     0.75          (jam)
3     0.50         (milk)
4     0.25  (wheat_bread)

if want to get length

In [118]:
len(frequent_items['itemsets'])

19

but want to see each lenth item

In [119]:
frequent_items['length']=frequent_items['itemsets'].apply(lambda x:len(x))

In [120]:
frequent_items

    support                    itemsets  length
0      0.75                     (bread)       1
1      0.75                    (butter)       1
2      0.75                       (jam)       1
3      0.50                      (milk)       1
4      0.25               (wheat_bread)       1
5      0.50             (butter, bread)       2
6      0.50                (jam, bread)       2
7      0.50               (milk, bread)       2
8      0.25        (wheat_bread, bread)       2
9      0.75               (jam, butter)       2
10     0.25              (milk, butter)       2
11     0.25                 (jam, milk)       2
12     0.25         (milk, wheat_bread)       2
13     0.50        (jam, butter, bread)       3
14     0.25       (milk, butter, bread)       3
15     0.25          (jam, milk, bread)       3
16     0.25  (milk, wheat_bread, bread)       3
17     0.25         (jam, milk, butter)       3
18     0.25  (jam, milk, butter, bread)       4

if need only combibation where support is greater than 50% and item is 3 than

In [133]:


frequent_items[(frequent_items['length']==3)&(frequent_items['support']>=0.50)]

    support              itemsets  length
13      0.5  (jam, butter, bread)       3