# Bank Loan Project using Logistic Regression

Problem:- Since provide loan to the client based on their Age,Income,Education etc(given multiple factor in data set) 
multiple factors hence would like to investigae which are most cause which affetct higher chance of approving a loan to client

In [5]:
import pandas as pd
import numpy as np

In [6]:
data=pd.read_excel('Bank_Personal_Loan_Modelling.xlsx',sheet_name=1) #import raw excel data

In [7]:
data.head() # getting head of dataframe

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [24]:
data.drop(['ID','ZIP Code'],axis=1).head() # we have remove the ID and ZIP code data since those are not contributing due to dull data

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,25,1,49,4,1.6,1,0,0,1,0,0,0
1,45,19,34,3,1.5,1,0,0,1,0,0,0
2,39,15,11,1,1.0,1,0,0,0,0,0,0
3,35,9,100,1,2.7,2,0,0,0,0,0,0
4,35,8,45,4,1.0,2,0,0,0,0,0,1

In [68]:
y=data['Personal Loan'] # this is our target variable

x=data[['ID', 'Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg','Education', 'Mortgage', 'Securities Account', 'CD Account', 'Online',
       'CreditCard']] 
# these are our predictor variable based on this will predict how many factors are responsible for loan apporval

In [69]:
x.head(2)

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,1,0,0,0

In [70]:
y.head(2)

0    0
1    0
Name: Personal Loan, dtype: int64

# import stats model for logisctic Regression

In [76]:
import statsmodels.api as sm

In [83]:
x1=sm.add_constant(x) # adding constant in x

In [79]:
logistic=sm.Logit(y,x1) # filling data in model

In [81]:
result=logistic.fit() # fitting data inside model

Optimization terminated successfully.
         Current function value: 0.128331
         Iterations 9

In [84]:
result.summary() # get result of model fitted in logistic regression

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:          Personal Loan   No. Observations:                 5000
Model:                          Logit   Df Residuals:                     4986
Method:                           MLE   Df Model:                           13
Date:                Sat, 08 Aug 2020   Pseudo R-squ.:                  0.5942
Time:                        20:52:19   Log-Likelihood:                -641.65
converged:                       True   LL-Null:                       -1581.0
Covariance Type:            nonrobust   LLR p-value:                     0.000
======================================================================================
                         coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------
const                -11.7179      4.115     -2.847      0.004     -19.784      -3.652
ID                  -5.23e-05   5.14e-05     -1.017      0.309      -0.000    4.85e-05
Age                   -0.0538      0.061     -0.877      0.380      -0.174       0.066
Experience             0.0639      0.061      1.048      0.295      -0.056       0.183
Income                 0.0547      0.003     20.820      0.000       0.050       0.060
ZIP Code           -3.743e-06   4.07e-05     -0.092      0.927   -8.35e-05    7.61e-05
Family                 0.6952      0.074      9.353      0.000       0.549       0.841
CCAvg                  0.1218      0.040      3.070      0.002       0.044       0.200
Education              1.7404      0.115     15.098      0.000       1.514       1.966
Mortgage               0.0005      0.001      0.836      0.403      -0.001       0.002
Securities Account    -0.9453      0.286     -3.305      0.001      -1.506      -0.385
CD Account             3.8232      0.324     11.791      0.000       3.188       4.459
Online                -0.6717      0.157     -4.272      0.000      -0.980      -0.364
CreditCard            -1.1136      0.205     -5.430      0.000      -1.516      -0.712
======================================================================================
"""

Conclusion: since we know in logistic regression P- Vlaue(Probability) is the deciding factor and P value around '0' is the
            most significant value. hence which variables have 0 p value that are most deciding factor to get loan chance as yes

in above result income is most significant value for loan value :-
    
    Income	 P value 	0.000
    Family	 P value 	0.000
    Education	 P value 	0.000
    CD Account	 P value 	0.000
    Online	 P value 	0.000
    CreditCard	 P value 	0.000

In [85]:
# so at last I would like to tell that these are most import factors for grant a loan to client

****************The END*********************